.About {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  

  .video{
    width:560px;
    height:315px;
    flex: 1 1 auto;
    margin: 5em 0 5em 0;

  }
  .Desctiption{
    position: relative;
    font-family: "PT Sans", sans-serif;
    margin: 3em 0 3em 0;
    padding:3em 0 3em 0;
    width: 100%;
    font-weight: 800;
    line-height: 3em;
    font-style: italic;
  }
 
  .Desctiption:has(.modeMoreInfornation:checked) .MoreInformation{
    display: block;
    margin-top:5em;
  }
  .AllOpportinity{
  
    width:1600px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 6px
  }