/* @import '../Link.css'; */


/* центрый блок  */
.pageDesc {
  flex: 1 1 auto;
  margin: 3em 0 3em 0;
  padding: 3em 0 3em 0;
  font-weight: 800;

   /* ширина */
   width: 100%;
}

/* обёртка для всех блоков  */


/* стили для верхнего блока */
.info {
  border-top: 3px solid black;
  border-bottom: 3px solid black;
  line-height: 3em;
}

.info__text {
  font-style: italic;
  font-size: 30px;
  text-align: center;
}

/* стили для предлагаемых возможностей от заведения */
.opportinity {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  justify-content: center;
  gap: 10px;
}

/* стили для последней строки с видосом */
.content{
  display: flex;
  justify-content: center;
}
.content__video {
  width: 80%;
  height: 315px;
  margin: 5em 0 5em 0;
}

@media (min-width: 0px) and (max-width: 600px) {
  .info__text {
    font-size: 20px;
  }
}
@media (min-width: 0px) and (max-width: 400px) {
  .info__text {
    font-size: 16px;
  }
}


