* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  max-width: 100%;

}

.App {
  min-width: 100%;
  min-height: 100%;

}

.NothingOrder {
  font-family: "PT Sans", sans-serif;
  margin-left: 48px;
}

.AttenrionNothingOrder {
  font-size: 22px;
  margin-top: 24px;
  max-width: 364px;
}


.BlockPages {
  display: flex;
  margin-top: 100px;
  margin-bottom: 100px;
  justify-content: center;
  width: 100%;
  font-size: 16px;
}

/* mobile */
@media (max-width: 828px) {
  .Allcontent {
    width: 828px;
  }
}
@media (max-width: 600px) {
  .Allcontent {
    width: 528px;
  }
}
