

.pageMoreInfo {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  margin: 2em 0 2em 0;
  padding: 0;

}
.listInfo__item{
  width: 100%;

  display: flex;
  flex-direction: column;

  list-style: none;
}
.listInfo__title {
  width: 100%;

  font-weight: 800;
  font-size: 30px;

  text-align: center;
}

.listInfo__text {
  text-align: center;

  margin: 3em 0;

  font-style: italic;
  font-weight: 600;
}