.sign {
  width: calc(33% - 12px);
  margin: 3em 0 0 0;
}
.sign__img {
  height: 300px;
  width: 100%;
  padding: 0px;
  border: 0px;
  margin: 0px;
}

.sign .excerpt:hover,
.sign .excerpt:focus {
  text-shadow: 0 0 5px red;
  outline: none;
}
.sign__incompleteDesc {
  margin-top: 2em;
}
.sign__completeDesc {
  display: none;
}
.sign:has(.excerpt__text:checked) .sign__completeDesc {
  display: block;
  margin-top: 2em;
}
.sign:has(.excerpt__text:checked) .sign__incompleteDesc {
  display: none;
}

/* здесь для мобилок тебе нужно будет менять ширину */

@media (max-width: 1900px) {
  .sign {
    width: calc(33% - 12px);
  }
  .sign__img {
    height: 350px;
  }
}

@media (max-width: 1600px) {
  .sign {
    width: calc(45% - 12px);
  }
  .sign__img {
    height: 350px;
  }
}

@media (min-width: 900px) and (max-width: 1200px) {
  .sign {
    width: calc(80% - 12px);
  }
  .sign__img {
    height: 450px;
  }
}

@media (min-width: 610px) and (max-width: 900px) {
  .sign {
    width: calc(90% - 12px);
  }
}

@media (min-width: 0px) and (max-width: 610px) {
  .sign {
    width: 100%;
  }
}
@media (min-width: 0px) and (max-width: 550px) {
  .sign {
    margin-left: 40px;
    margin-right: 40px;
  }
}

@media (min-width: 450px) and (max-width: 550px) {
  .sign {
    width: 100%;
    margin: 0 0 0 0;
  }
}

@media (min-width: 0px) and (max-width: 450px) {
  .sign {
    width: 100%;
    margin: 0 0 0 0;
  }
  .sign__img {
    height: 250px;
  }
}
