.Link {
  display: flex;
  justify-content: center;
  align-items: center;
   /* ширина */
   width: 100%;
  min-height: 100vh;
  flex-direction: column;
  font-family: "PT Sans", sans-serif;
}
.wrapper {
  /* ширина */

  max-width: 1600px;
  padding: 0 15px;
  margin: 0 auto;
}
