.ContetnForOrder {
    width: 364px;
    margin-top: 16px;
    margin-bottom: 32px;
    margin-left: 48px;
    margin-right: 48px;
  }
  .HeaderOfModal {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  .TitleNothingOrder {
    font-size: 32px;
    font-weight: 700;
    margin-top: 24px;
  }
  .cross {
    width: 14px;
    height: 14px;
    cursor: pointer;
  }
  .FullInfoAboutThingOrder {
    color: #59606d;
    font-size: 18px;
    margin-top: 24px;
    width: 364px;
    height: 23px;
    margin-top: 24px;
    margin-bottom: 16px;
  }
  .FullInfoAboutClient {
    font-size: 18px;
    margin-top: 32px;
    margin-bottom: 16px;
    color: #59606d;
  }