* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.App {
  max-width: 1440px;
  max-height: 1070px;
}
.Allcontent {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  width: 1104px;
  margin-right: 88px;
  margin-left: 248px;
  margin-top: 0px;
  margin-bottom: 66px;
}
.Header {
  display: flex;
  justify-content: space-between;
  height: 66px;
  min-width: 300px;
  border-radius: 2%;
  box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.2);
}
.Logo {
  margin-top: 18px;
  margin-left: 88px;
  align-self: baseline;
}
.Filter {
  font-family: "PT Sans";
  display: flex;
  justify-content: space-between;
  margin-top: 42px;
  margin-right: 137px;
  margin-bottom: 0px;
  margin-left: 88px;
}
.NothingOrder {
  font-family: "PT Sans";
  margin-left: 48px;
}
.TitleNothingOrder {
  font-size: 32px;
  font-weight: 700;
  margin-top: 24px;
}
.AttenrionNothingOrder {
  font-size: 22px;
  margin-top: 24px;
  max-width: 364px;
}
.ContetnForOrder {
  width: 364px;
  margin-top: 16px;
  margin-bottom: 32px;
  margin-left: 48px;
  margin-right: 48px;
}
.InfoAboutClient {
  width: 364px;
  height: 50px;
  border-radius: 5px;
  border-style: none;
  font-size: 16px;
  background-color: #f8f8f8;
  margin-top: 16px;
  margin-bottom: 16px;
  color: black;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 14px;
}
.FullInfoAboutClient {
  font-size: 18px;
  margin-top: 32px;
  margin-bottom: 16px;
  color: #59606d;
}
.FullInfoAboutThingOrder {
  color: #59606d;
  font-size: 18px;
  margin-top: 24px;
  width: 364px;
  height: 23px;
  margin-top: 24px;
  margin-bottom: 16px;
}
.Error {
  text-align: center;
  margin-top: 200px;
}
.HeaderOfModal {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.cross {
  width: 14px;
  height: 14px;
  cursor: pointer;
}

.About {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100vh;
  min-height: 100vh;
}
.navbar {
  height: 100px;
  width: 100vw;
  display: flex;
  align-items: center;
  padding: 0 15px;
  background: lightgray;
}
.navbar__links {
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;
  width: 200px;
}
.searchContent {
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: center;
}
.search {
  width: 400px;
  height: 30px;
  border-radius: 3px;
}
.BlockPages {
  display: flex;
  margin-top: 100px;
  margin-bottom: 100px;
  justify-content: center;
  width: 100%;
  font-size: 16px;
}

.Page {
  padding: 10px;
  cursor: pointer;
  color:white;
  width: 40px;
  height:40px;
  background-color: black;
  border-radius:50%;
  box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.2);
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
  font-weight: 800;
}
.PageActive {
  padding: 10px;
  width: 40px;
  height:40px;
  border-radius:50%;
  color:white;
  background-color: orange;
  cursor: pointer;
  box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.2);
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
  font-weight: 800;
}
.Prev{
  
  text-decoration: none;
  color:white;
  margin-left:20px;
  padding: 10px;
  background-color: black;
  width: 90px;
  height:40px;
  border-top-left-radius:40%;
  border-bottom-left-radius:40%;
  box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.2);
  font-weight: 800;
}
.Next{
  
  text-decoration: none;
  margin-left:20px;
  padding: 10px;
  background-color: black;
  color:white;
  width: 90px;
  height:40px;
  border-top-right-radius:40%;
  border-bottom-right-radius:40%;
  box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.2);
  font-weight: 800;
}


/* mobile */
@media (max-width: 828px) {
  .Allcontent {
    width: 828px;
   
  }
  
}
@media (max-width: 600px) {
  .Allcontent {
    width: 552px;
  }

}
