

.container {
  display: flex;
  padding: 15px;
  height: 800px;
  width: 100%;
  justify-content: center;
  align-items:center;

  .leftColumn {
    width: 50%;
    height: 100%;
    position: relative;
    img {
      width: 25%;
      position: absolute;
      left: 100px;
      top: 0px;
    }
    .abv {
      color: red;
      position: absolute;
      right: 30px;
      top: 20px;
      font-size: 70px;
    }
  }
  .rightColumn {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    margin-top: 60px;
    .beerFulldescription {
      border-bottom: 1px solid #e1e8ee;
      margin-bottom: 20px;
      .beerName {
        font-size: 22px;
        color: #358ed7;
        letter-spacing: 1px;
        text-transform: uppercase;
        text-decoration: none;
      }
      .tagline {
        font-weight: 300;
        font-size: 52px;
        color: #43484d;
        letter-spacing: -2px;
      }
      .beerDescription {
        font-size: 16px;
        font-weight: 300;
        color: #86939e;
        line-height: 24px;
      }
      .food_pairing{
        display: flex;
        flex-wrap: wrap;
        font-size: 16px;
        font-weight: 300;
        color: #86939e;
        line-height: 24px;
        

      }
    }
  }

  // скрываем всю мобилку

  .beerName_mobile {
    display: none;
  }
  .tagline_mobile {
    display: none;
  }
  .leftColumn_mobile {
    display: none;
    img {
      display: none;
    }
    .abv_mobile {
      display: none;
    }
  }
  .rightColumn_mobile {
    display: none;
    .beerFulldescription_mobile {
      display: none;
  
      .beerDescription_mobile {
        display: none;
      }
    }
  }

}

/* mobile */
@media (max-width: 828px) {
  .container {
    display: flex;
    padding: 15px;
    height: 800px;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;


    .beerName_mobile {
      display: block;
      font-size: 22px;
          color: #358ed7;
          letter-spacing: 1px;
          text-transform: uppercase;
          text-decoration: none;
    }
    .tagline_mobile {
      display: block;
      font-weight: 300;
      font-size: 52px;
      color: #43484d;
      letter-spacing: -2px;
    }
    .leftColumn_mobile {
      display: block;
      width: 100%;
      position: relative;
      height: 60%;
      margin-bottom: 0px;
      img {
        display: block;
        width: 110px;
        height:420px;
        position: absolute;
        left: 50px;
        top: 0px;
      }
      .abv_mobile {
        display: block;
        color: red;
        position: absolute;
        right: 20px;
        top: 20px;
        font-size: 40px;
      }
    }
    .rightColumn_mobile {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 40%;
      .beerFulldescription_mobile {
        display: block;
        border-bottom: 1px solid #e1e8ee;
        margin-bottom: 20px;
        .beerDescription_mobile {
          display: block;
          font-size: 16px;
          font-weight: 300;
          color: #86939e;
          line-height: 24px;
        }
        .food_pairing{
          display: flex;
          flex-wrap: wrap;
          font-size: 16px;
          font-weight: 300;
          color: #86939e;
          line-height: 24px;
          
  
        }
      }
    }
}


.leftColumn {
  display: none;
  img {
    display: none;
  }
  .abv {
    display: none;
  }
}
.rightColumn {
  display: none;
  .beerFulldescription {
    display: none;
    .beerName {
      display: none;
    }
    .tagline {
      display: none;
    }
    .beerDescription {
      display: none;
    }
  }
  .food_pairing{
    display: none;
  }
}


}
