/* @import '../Link.css'; */

.beers,
.Error,
.NotFound {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  margin: 2em 0 2em 0;
  padding: 0;
  text-align: center;
}

.Allcontent {
  display: flex;
  flex-wrap: wrap;
  min-width: 100%;
  margin: 0px 0px 66px 0px;
  justify-content: center;
  width: 70%;
}

.hide {
  display: none;
}

/* слайдер */

.slide {
  width: 50%;
}

@media (min-width: 900px) and (max-width: 1200px) {
  .slide {
    width: 60%;
  }
}
@media (min-width: 0px) and (max-width: 900px) {
  .slide {
    width: 100%;
  }
}
