

.beers, .Error, .NotFound{
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  margin: 2em 0 2em 0;
  padding: 0;
  text-align: center;

}

.Allcontent {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    min-width: 100%;
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 66px;
  }
 

  .hide{
    display: none;
  }