.ButtonForOrder {
  position: relative;
  align-self: flex-end;
  margin: 0 1em 0 0;
  width: 24px;
  height: 26px;
  background-color: white;
  cursor: pointer;
  background-image: url("https://mdn.mozillademos.org/files/11991/startransparent.gif");
}

.imgButtonForOrder {
  width: 24px;
  height: 26px;
}

.cicle {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: black;
  left: 16px;
  top: -4px;
}

.qualityOfOrder {
  font-family: "PT Sans";
  text-align: center;
  color: white;
  font-size: 15px;
  font-weight: 700;
}
@media (min-width: 0px) and (max-width: 400px) {
  .ButtonForOrder {
    margin: -1em 0.5em 0 0;
  }
}
